#header.header
	.home-menu.pure-menu.pure-menu-horizontal.pure-menu-fixed
		a.pure-menu-heading(href="/") Invmans
		ul.pure-menu-list
			li.pure-menu-item.pure-menu-selected
				a.pure-menu-link(href="/") Home
			li.pure-menu-item
				a.pure-menu-link(href="/about") About
			li.pure-menu-item
				a.pure-menu-link(href="mailto:liuyang1520@gmail.com?Subject=Hello") Contact