#sidebar.pure-u
	.pure-menu
		ul.pure-menu-list
			li.pure-menu-heading.menu-item-divided Tables
			li.pure-menu-item
				a.pure-menu-link(href="/inventory/tables/Customer/") Customer
			li.pure-menu-item
				a.pure-menu-link(href="/inventory/tables/Inventory/") Inventory
			li.pure-menu-item
				a.pure-menu-link(href="/inventory/tables/Product/") Product
			li.pure-menu-item
				a.pure-menu-link(href="/inventory/tables/Supplier/") Supplier
			li.pure-menu-item
				a.pure-menu-link(href="/inventory/tables/Bill/") Bill
			li.pure-menu-item
				a.pure-menu-link(href="/inventory/tables/Transaction/") Transaction
			li.pure-menu-heading.menu-item-divided Operations
			li.pure-menu.item